
.contactUs{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313552;;
}
.inputBox{
    display: flex;
    flex-direction: column;
    padding: 7px 10px;
}
.formInput{
    width: 300px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}
.label{
    color: white;
    font-family: "Roboto",sans-serif;
    margin-bottom: 2px;
}
.textarea{
    width: 300px;
    height: 70px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}
.contactUs_contaier{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.contactUs_contaier_left{
    width: 400px;
    backdrop-filter: blur(1px) saturate(163%);
    -webkit-backdrop-filter: blur(1px) saturate(163%);
    background-color: rgba(160, 160, 167, 0.576);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.sendBox{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 55, 212);
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.send_btn{
    border: none;
    color: white;
    font-size: 16px;
    background-color: transparent;
    letter-spacing: 2px;
}
.sendIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.contactUs_contaier_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px) saturate(163%);
    -webkit-backdrop-filter: blur(1px) saturate(163%);
    background-color: rgba(243, 231, 231, 0.707);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px;
    font-family: "Roboto",sans-serif;
    color: brown;
    font-size: 14px;
    position: relative;
}
.leaf_icon{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(45deg,red,pink);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.socialLink{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.socialIcon{
    margin-left: 10px;
    cursor: pointer;
}
.socialIcon:first-child{
    margin-left: 0;
}
.flex{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.messageDialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 20px;
    background: rgb(29, 28, 28);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.cross {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    border-radius: 25px;
    cursor: pointer;
  }
  .line1,
  .line2 {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: black;
  }
  .line1 {
    transform: rotate(50deg);
  }
  .line2 {
    transform: rotate(-50deg);
  }

@media screen and (max-width: 800px) {
    .contactUs_contaier{
        margin-top: 40px;
        flex-direction: column;
        
    }
    .contactUs_contaier_left{
        margin-left: 0;
        margin-top: 20px;
    }
    .messageDialog{
        top: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .contactUs_contaier{
      width: 100%;     
    }
    .contactUs_contaier_left{
       width: 97%;
       padding: 0;
    }
    .form{
        width: 100%;
        padding: 0px;
    }
    .sendBox{
        width: 80%;
        margin-bottom: 10px;
    }
    .textarea{
        width: 100%;
    }
    .inputBox{
      width: 100%;
    }
    .formInput{
      width: 100%;
    }
    .contactUs_contaier_right{
        width: 98%;
    }
  }