
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
li:hover{
  cursor: pointer;
}
button:hover{
cursor: pointer;
background-color: tomato;
transition: 0.3s ease-out;
}


