.createProduct,.updateProduct,.uploadEbook{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313552;;
}
.createProduct_container,.updateProduct_container,.uploadEbook_container{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
    margin-top: 50px;
    position: relative;
}
.form{
    width: 100%;
}
.createProduct_title,.updateProduct_title,.uploadEbook_title{
    border-bottom: 2px solid rgb(199, 75, 75);
    font-size: 18px;
}
.updateProduct_title{
    margin-top: 30px;
}
.formInput,.id_input{
    border: none;
    width: 100%;
    padding: 8px 12px;
    margin-top: 10px;
    outline: none;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    border-radius: 5px;
}
.formTextArea{
    width: 100%;
    outline: none;
    border: none;
    margin-top: 10px;
    padding: 8px 12px;
    font-family: "Roboto",sans-serif;
    border-radius: 5px;
    font-size: 16px;
    height: 70px;
}
.formSelect{
    border: none;
    width: 100%;
    padding: 8px 12px;
    margin-top: 10px;
    outline: none;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    border-radius: 5px;
}
.form_fileInput{
    width: 100%;
}
.form_fileInput::file-selector-button{
    cursor: pointer;
    width: 100%;
    border: none;
    margin-top: 10px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    transition: all 0.5s;
    padding:8px 12px;
    border-radius: 5px;
    background-color: grey;
}
.create_btn,.update_btn,.upload_btn{
    width: 100%;
    padding: 10px 15px;
    font-family: "Roboto",sans-serif;
    margin-top: 15px;
    border-radius: 5px;
    background-image: linear-gradient(to right,coral,red);
    border: none;
    font-size: 16px;
    color: white;
    letter-spacing: 1.5px;
}
.image_preview_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.preview_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.id_div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: -20px;
    padding: 10px;
}
.id_input{
    margin-top: 0;
    text-align: center;
    font-weight: 600;
}
.removeBtn{
    padding: 5px 8px;
    border-radius: 10px;
    background-color: darkred;
    color: white;
    border: 2px solid white;
    font-size: 15px;
  }
  .addMore_btn{
    padding: 5px 8px;
    border-radius: 10px;
    background-color: rgb(33, 46, 228);
    border: 2px solid white;
    color: white;
    font-size: 15px;
  }
  .message{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 40px;
      z-index: 10;
      border-radius: 10px;
  }
  .cross {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    border-radius: 25px;
    cursor: pointer;
  }
  .line1,
  .line2 {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: black;
  }
  .line1 {
    transform: rotate(50deg);
  }
  .line2 {
    transform: rotate(-50deg);
  }

  .coverPhotoInput::-webkit-file-upload-button{
    visibility: hidden;
  }
  .pdfInput::-webkit-file-upload-button{
      visibility: hidden;
  }
  .previewImageInput::-webkit-file-upload-button{
      visibility: hidden;
  }
  .coverPhotoInput,.pdfInput,.previewImageInput{
      margin-top: 10px;
  }
  .coverPhotoInput::before {
    content: 'Select cover Image';
    display: inline-block;
    background: linear-gradient(to top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }

  .pdfInput::before {
    content: 'upload pdf';
    display: inline-block;
    background: linear-gradient(to top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }

  .previewImageInput::before {
    content: 'upload preview images';
    display: inline-block;
    background: linear-gradient(to top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }

  @media screen and (max-width: 450px) {
  .createProduct_container,.updateProduct_container,.uploadEbook_container{
      width: 100%;
      padding: 20px 5px;
  }
  .message{
      width: 95%;
    top: 100%; 
}
  }
